*~
*.o
*.os
*.obj
*.a
*.lib
*.so
*.dylib
.scon*
*.bak
*.pyc
*.swp
core.*
Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
src/.deps/
src/Makefile
src/cmon
stamp-h1
Makefile.in
ltmain.sh
src/Makefile.in
configure
INSTALL
Makefile.in
aclocal.m4
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
bin/
cmake_install.cmake
CPackSourceConfig.cmake
*.deb
